<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
		
		<title>JsDoc Reference - Index</title>
		<meta name="generator" content="JsDoc Toolkit" />
		<link rel="stylesheet" href="http://qzone.isd.com/css/style.css" type="text/css"/>
		<link rel="stylesheet" href="http://qzone.isd.com/css/items.css" type="text/css"/>
	</head>
	
	<body>
	   <div id="main">
		    {+include("static/header.html")+}
		
    		<div id="content">
				<!-- 内容区域 -->
				<div class="items_row">
					<div class="item">
						<h1 class="title articleTitle">QZFL Class Index</h1>
						<div class="detail articleDetail">
							<!-- 正文部分 -->                            
								<for each="thisClass" in="data">
                                <div>
                                    <h3>
                                    
                                    {!
                                        var classType = "";
                                        
                                        if (thisClass.isNamespace) {
                                            if (thisClass.is('FUNCTION')) {
                                                classType += "Function ";
                                            }
                                            classType += "Namespace";
                                        }
                                        else {
                                            classType += "Class";
                                        }
                                        
                                        if (thisClass.isBuiltin()) {
                                            classType = "全局函数";
                                        }
                                        
          
                                    !}
                                    
                                    &lt;{+classType+}&gt; 
				
                                    {+(new Link().toSymbol(thisClass.alias))+}</h3>
                                    {+resolveLinks(summarize(thisClass.classDesc))+}
                                </div>
                                <hr />
                                </for>
                                
 							<!-- 正文部分结束 -->
						</div>
					</div>
				</div>
			</div>
			
        </div>
        
        <div id="footer">
            <div class="foot">
                <div><a href="#" target="_blank">关于</a> | <a href="http://km.oa.com" target="_blank">KM平台</a> | <a href="http://20050606.qzone.qq.com" target="_blank">官方空间</a> | <a href="http://qzone.qq.com" target="_blank">空间首页</a> </div>
                <div class="copyright">copyright 2009，by Qzone Platform Develop Team </div>
                <div class="fineprint" style="margin-top:10px">
                    Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+}<if test="JSDOC.opt.D.copyright"> &copy;{+JSDOC.opt.D.copyright+}<br /></if> on {+new Date()+}
                </div>
            </div>
        </div>
	</body>
</html>




