/* default.css */

h1
{
	font-size: 150%;
	font-weight: bold;
	padding: 0;
	margin: 1em 0 0 .3em;
}

hr
{
	border: none 0;
	border-top: 1px solid #ccc;
	height: 1px;
}

pre.code
{
	display: block;
	padding: 8px;
	border: 1px dashed #ccc;
}

#content-index
{
	margin-top: 24px;
	margin-bottom: 40px;
	float: left;
	width: 190px;
	background-color: #EBEBEB;
	padding: 8px;
	zoom:1;
}

#content-index hr {
    display:none;
}


#content-right
{
	margin-left: 210px;
}

.classList
{
	list-style-type: none;
	padding: 0;
	margin: 0 0 0 8px;
	font-family: arial, sans-serif;
	font-size: 1em;
	overflow: auto;
}

.classList li
{
	padding: 0;
	margin: 0 0 8px 0;
}

.summaryTable { width: 100%; _width: 99%; }

h1.classTitle
{
	font-size:170%;
	line-height:130%;
}

h2 { font-size: 110%; }
caption, div.sectionTitle
{
	background-color: #E7E5DC;
	color: #333;
	font-size:130%;
	text-align: left;
	padding: 2px 6px 2px 6px;
	border: 1px #ccc solid;
}

div.sectionTitle { margin-bottom: 8px;margin-top: 8px; }
.summaryTable thead { display: none; }
.summaryTable caption {}
.summaryTable td
{
	vertical-align: top;
	padding: 4px;
	border-bottom: 1px #ccc solid;
	border-right: 1px #ccc solid;
}

/*col#summaryAttributes {}*/
.summaryTable td.attributes
{
	border-left: 1px #ccc solid;
	width: 140px;
	text-align: right;
}

td.attributes, .fixedFont
{
	line-height: 15px;
	color: #002EBE;
	font-family: "Courier New",Courier,monospace;
	font-size: 13px;
}

.summaryTable td.nameDescription
{
	text-align: left;
	font-size: 13px;
	line-height: 15px;
}

.summaryTable td.nameDescription, .description
{
	line-height: 15px;
	padding: 4px;
	padding-left: 4px;
}

.description{
	line-height: 150%;
	color:#444;
	margin-left: 20px
}
.summaryTable { margin-bottom: 20px; }

ul.inheritsList
{
	list-style: square;
	margin-left: 20px;
	padding-left: 0;
}

.detailList {
	margin-left: 20px; 
	line-height: 15px;
}
.detailList dt { margin-left: 20px;margin-bottom:6px }
.detailList dd { margin-left: 60px;margin-bottom:12px }

.detailList .heading
{
	font-weight: bold;
	padding-bottom: 6px;
	margin-left: 0;
}

.light, td.attributes, .light a:link, .light a:visited
{
	color: #666;
	font-style: italic;
}

.fineprint
{
	text-align: right;
	font-size: 10px;
}